@import-normalize;

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

body {
  background-color: #fff;
  margin: 0;
}

.highlight {
  color: #fff;
  display: inline-block;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 2px 4px;
  background: #000;
  border: solid 5px #000;
}

.letter {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 1em;
  background: rgb(255, 255, 255);
  border: solid 5px rgb(0, 0, 0);
}
